<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggleDrawerEmitter.emit()"
    *ngIf="isSmall || !drawerOpened">
      <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
  </button>

  <span class="brand">Music Stuff</span>

  <button
    type="button"
    mat-button
    (click)="createEmitter.emit()">
      Create
  </button>

  <div class="spacer"></div>

  <button
    type="button"
    aria-label="Toggle right sidenav"
    mat-icon-button
    (click)="toggleRightDrawerEmitter.emit()"
    *ngIf="isSmall || !rightDrawerOpened">
      <mat-icon aria-label="Right sidenav toggle icon">extension</mat-icon>
  </button>
</mat-toolbar>
