/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~vextab/releases/vextab.css";

html, body {
  margin: 0;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}
