<ng-container *ngIf="tab.state.type === 'normal'">
  <ng-container *ngIf="tab.state.doc.format === 'html'">
    <app-html-document [doc]="tab.state.doc"></app-html-document>
  </ng-container>

  <ng-container *ngIf="tab.state.doc.format === 'vextab'">
    <app-vextab-document [doc]="tab.state.doc"></app-vextab-document>
  </ng-container>

  <ng-container *ngIf="tab.state.doc.format === 'musicxml'">
    <app-musicxml-document [doc]="tab.state.doc"></app-musicxml-document>
  </ng-container>
</ng-container>

<ng-container *ngIf="tab.state.type === 'editing'">
  <app-form-edit-document [doc]="tab.state.doc" [(docChanges)]="tab.state.input"></app-form-edit-document>
</ng-container>

<ng-container *ngIf="tab.state.type === 'creating'">
  <app-form-create-document [(input)]="tab.state.input"></app-form-create-document>
</ng-container>
