nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  height: 48px;
}

.tab-menu-button {
  margin-left: 0.5rem;
  margin-top: 4px;
}

.btn-close {
  margin-top: 4px;
  margin-right: 4px;
}

.document-background {
  display: block;
  position: fixed;
  top: calc(64px + 48px);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .125);
  overflow: auto;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
  transition-property: all;
}

.document-background.shrink-left {
  left: 200px;
}

.document-background.shrink-right {
  right: 240px;
}

.document-container {
  background-color: white;
  min-height: calc(100% - 48px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
} 

.separator {
  width: 0;
  border-left: 1px solid rgba(0, 0, 0, .12);
  margin: calc(48px / 6) 0;
  margin-right: 4px;
}