<nav mat-tab-nav-bar class="mat-elevation-z2">
  <ng-container *ngIf="!shrinkTabs">
    <ng-container *ngFor="let tab of tabs; let index = index">
      <a mat-tab-link (click)="onOpen(index)" [active]="tab === activeTab">
        {{getTitle(tab)}}
      </a>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="shrinkTabs">
    <button mat-button [matMenuTriggerFor]="tabMenu" class="tab-menu-button">
      {{getTitle(this.activeTab)}}
    </button>
    <mat-menu #tabMenu="matMenu" [overlapTrigger]="false">
      <ng-container *ngFor="let tab of tabs; let index = index">
        <button mat-menu-item (click)="onOpen(index)">{{getTitle(tab)}}</button>
      </ng-container>
    </mat-menu>
  </ng-container>

  <div class="spacer"></div>

  <ng-container *ngIf="activeTab.state.type === 'normal'">
    <button mat-icon-button class="btn-close" (click)="onEdit(activeIndex)">
      <mat-icon>edit</mat-icon>
    </button>
    <div class="separator"></div>
    <button mat-icon-button class="btn-close" (click)="onDelete(activeIndex)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button class="btn-close" (click)="onClose(activeIndex)">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="activeTab.state.type === 'editing'">
    <button mat-icon-button class="btn-close" (click)="onSave(activeIndex)">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button class="btn-close" (click)="onCancel(activeIndex)">
      <mat-icon>cancel</mat-icon>
    </button>
    <div class="separator"></div>
    <button mat-icon-button class="btn-close" (click)="onDelete(activeIndex)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button class="btn-close" (click)="onClose(activeIndex)">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="activeTab.state.type === 'creating'">
    <button mat-icon-button class="btn-close" (click)="onSave(activeIndex)">
      <mat-icon>save</mat-icon>
    </button>
    <div class="separator"></div>
    <button mat-icon-button class="btn-close" (click)="onClose(activeIndex)">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>
</nav>

<div class="document-background"
  [class.shrink-left]="!wide && drawerOpened"
  [class.shrink-right]="!wide && rightDrawerOpened">
    <mat-card class="document-container">
      <app-tab></app-tab>
    </mat-card>
</div>