<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
    class="sidenav mat-elevation-z8"
    fixedInViewport="true"
    [attr.role]="(isSmall$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmall$ | async) ? 'over' : 'side'"
    [opened]="!(isSmall$ | async)">
      <mat-toolbar color="primary">Collection</mat-toolbar>
      <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav #rightDrawer
    class="right-sidenav mat-elevation-z8"
    fixedInViewport="true"
    position="end"
    [mode]="(isLarge$ | async) ? 'side' : 'over'"
    [opened]="isLarge$ | async">
      <mat-toolbar color="primary">Plugins</mat-toolbar>
      <app-right-sidenav></app-right-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar
      [drawerOpened]="drawer.opened"
      [rightDrawerOpened]="rightDrawer.opened"
      (toggleDrawer)="drawer.toggle()" (toggleRightDrawer)="rightDrawer.toggle()">
    </app-toolbar>
    <app-content [wide]="isSmall$ | async"
      [drawerOpened]="drawer.opened"
      [rightDrawerOpened]="rightDrawer.opened">
    </app-content>
  </mat-sidenav-content>
</mat-sidenav-container>
