<form [formGroup]="form">
  <mat-form-field>
    <mat-select placeholder="Format" formControlName="format" required>
      <mat-option *ngFor="let format of formats" [value]="format.value">
        {{format.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="title" placeholder="Title" autofocus required />
    <mat-error *ngIf="form.get('title').invalid">
      <ng-container *ngIf="form.get('title').hasError('required')">You must enter a value</ng-container>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="content" placeholder="Content" rows="10"></textarea>
    <mat-error *ngIf="form.get('content').invalid">
      <ng-container *ngIf="form.get('content').hasError('required')">You must enter a value</ng-container>
    </mat-error>
  </mat-form-field>
</form>