<ng-container *ngIf="doc !== null">
  <mat-form-field class="input-field">
    <input matInput type="text" placeholder="Beats per minute"
      [formControl]="tempo" (keyup.enter)="onPlayPause()" />
    <mat-error *ngIf="tempo.errors && tempo.touched">
      <ng-container *ngIf="tempo.errors.required">Tempo is required.</ng-container>
      <ng-container *ngIf="tempo.errors.number">Tempo nust be a number.</ng-container>
    </mat-error>
  </mat-form-field>

  <button mat-icon-button (click)="onPlayPause()">
    <mat-icon *ngIf="playing === false">play_arrow</mat-icon>
    <mat-icon *ngIf="playing === true">pause</mat-icon>
  </button>
</ng-container>
